PORT=8080
NODE_ENV="dev"
THIRDWEB_API_KEY=""
PHILBLOCKS_UUID_CONTRACT=""
PHILBLOCKS_CORE_CONTRACT=""
WALLET_PRIVATE_KEY=""
MONGO_DB_URL=""
JWT_SECRET=""
SMTP_PORT=""
SMTP_HOST=""
SMTP_USER=""
SMTP_PASS=""
JWT_SECRET=""